// nav
.menu{
    background-color: transparent;
    position: fixed;
    padding-top: 10px;
    width: 100%;
    box-sizing: border-box;
    z-index: 5;
    a{
        color: white;
        font-weight: 600;
        font-family: 'gothamlight';
        /*Subrayado animado*/
        background-image: linear-gradient(currentColor, currentColor);
        background-position: 0% 100%;
        background-repeat: no-repeat;
        background-size: 0% 2px;
        transition: background-size .3s;
        &:hover{
            color: $white;
             /*Subrayado animado*/
             background-size: 100% 2px;
        }
        &.active{
            color:$keyColor!important;
        }
    }
    a[href="https://www.instagram.com/twc.soluciones/"],
    a[href="https://wa.me/541159707102?text=Me%20interesa%20un%20presupuesto%20"]{
        text-decoration: none;
        &:hover{
            background-size: 0% 2px;
            svg{
                fill:$keyColor;
            }
        }
    }
    img{
        width:110px ;
    }
    svg{
        fill: white;
        width: 30px;
    }

}
// header
.header-presentation {
    display: flex;
    overflow: hidden;
    width: 100vw; 
    height: 100vh;
    position: relative;
    a {
        position: relative; 
        display: block; 
        overflow: hidden; 
        flex: 1;
        &:hover{
            h2{
                // color:$keyColor;
                transform: scale(1.04);
                transition: all 0.5s ease;
                background-size: 100% 2px;
            }
        }
        h2 {
            position: absolute; 
            bottom: 5vh; 
            left: 0; 
            width: 100%; 
            text-align: center; 
            margin: 0; 
            padding: 10px; 
            color:$white; 
            z-index: 2;
            /*Subrayado animado*/
            background-image: linear-gradient(currentColor, currentColor);
            background-position: 0% 100%;
            background-repeat: no-repeat;
            background-size: 0% 2px;
            transition: background-size .3s;
            span{
                font-family: 'coolveticaregular';
            }
        }
    }
    img {
        width: 100%; 
        height: 100vh;
        object-fit: cover;
        transition: width 0.3s ease; 
        &:hover {
            width: 150%; 
            cursor: pointer;
            filter: none;
            a{
                color: $keyColor;
            }
        }
    }
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to bottom, black, transparent, black); 
        pointer-events: none;
        z-index: 1;
    }
}


