// twc
.twc{
    .img-fluid{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    img[src$=".svg"]{
        width: 80px;
    }
    article{
        p{
            padding: 10px 30px;
        }
    }
}
// services
.services{
    .accordion{
        button{
            display: flex;
            justify-content: space-between;
            span{
                font-size: 2em;
                color: white;
                background-color: $black;
                padding: 5px 10px;
            }
        }
        .accordion-button {
            &::after {
                background-image: url("../img/caret-circle.svg");
                transition: transform 0.3s ease; /* Agrega una transición suave */
                transform: rotate(180deg); /* Dirección hacia abajo por defecto */
                width: 50px;
                height: 50px;
                background-size: contain;
            }
    
            &:first-of-type::after { 
                transform: rotate(0deg); 
            }
        
            &.collapsed::after {
                transform: rotate(0deg); 
            }
        }
        .accordion-body{
            background-color: $black;
            color:$white;
        }
        .accordion-item{
            border-radius: 0!important;
            border: none!important;
            &:last-of-type > .accordion-collapse{
                border-radius: 0!important;
                border: none!important;
            }
        }
        .accordion-item:first-of-type > .accordion-header .accordion-button{
            background: url(../img/accordion-branding.jpg) no-repeat center top;
            background-size: cover;
            height: 120px;
        }
        .accordion-item:nth-of-type(2) > .accordion-header .accordion-button{
            background: url(../img/accordion-web-develpment.jpg) no-repeat top;
            background-size: cover;
            height: 120px;
        }
        .accordion-item:nth-of-type(3) > .accordion-header .accordion-button{
            background: url(../img/accordion-digital-marketing.jpg) no-repeat right top;
            background-size: cover;
            height: 120px;
        }
        .accordion-item:last-of-type > .accordion-header .accordion-button{
            background: url(../img/accordion-social-media.jpg) no-repeat center top;
            background-size: cover;
            height: 120px;
        }
    }
}
// porfolio
.portfolio{
    background-color: $black;
    .gallery{
        justify-content: space-between;
        article{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border: solid $white 3px;
            height: 40vh;
            padding: 30px;
            box-sizing: border-box;
            width: 33%;
            a{
                color: white;
                text-decoration: none;
                text-decoration: none;
                text-align: center;
                overflow: hidden;  
                &:hover{
                    border: solid 1px white;
                }
            }
            &:first-of-type{
                background: url(../img/gallery-go-transfer.jpg) no-repeat;
                background-size: cover;
            }
            &:nth-child(2){
                background: url(../img/gallery-go-transfer.jpg) no-repeat;
                background-size: cover;
            }
            &:nth-child(3){
                background: url(../img/gallery-go-transfer.jpg) no-repeat;
                background-size: cover;
            }
            &:nth-child(4){
                background: url(../img/gallery-go-transfer.jpg) no-repeat;
                background-size: cover;
            }
            &:nth-child(5){
                background: url(../img/gallery-go-transfer.jpg) no-repeat;
                background-size: cover;
            }
            &:nth-child(6){
                background: url(../img/gallery-go-transfer.jpg) no-repeat;
                background-size: cover;
            }
        }
    }
}
// about us
.about-us{
    article{
        background-color: $black;
        color: white;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex: 1;
        text-align: left;
        margin-right: 10px;
        box-sizing: border-box;
        padding-bottom: 20px;
        img{
            padding: 20px;
        }
        h3{
            text-transform: uppercase;
        }
        a{
            text-decoration: none;
            color: white;
            font-weight: 600;
            text-align: left;
        }
        ul{
            li{
                list-style: disc;
            }
        }
    }
}